<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  		<typeAliases >
  			<typeAlias type="multi.erp.users.usersVO" alias="users"/>
  			<typeAlias type="multi.erp.users.shopVO" alias="shop"/>
  			<typeAlias type="multi.erp.board.BoardVO" alias="board"/> 
  			<typeAlias type="multi.webproject.map.StoreVO" alias="store"/><!-- 알리아스는 내맘대로주는 이름 -->
 			<typeAlias type="multi.webproject.review.reviewVO" alias="review"/>
  		</typeAliases>
  		<mappers>
  			<mapper resource="mapper/users.xml"/>
  			<mapper resource="mapper/board.xml"/> 
  			<mapper resource="mapper/store.xml"/>
 			<mapper resource="mapper/review.xml"/>
  		</mappers>
  		
  </configuration>